footer{
   font-family: $primaryFontFamily;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: $primaryBackgroundColor;
   color: $primaryColor;
   text-align: center;
   padding: 10px;
 }