@use 'variables';
@use 'mixins';

header {
  @include mixins.base-styles;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: fixed;
  min-width: 100%;
  z-index: 100;

  h1 {
    a.header-link {
      display: block;
      height: 100%;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: whitesmoke;
      }
    }
  }
}

nav {
  display: flex;
  align-items: center;
  height: 100%;

  ul {
    font-size: 1.3em;
    display: flex;
    list-style: none;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      transition: background-color 0.3s ease;

      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        cursor: pointer;
        background-color: grey;
        color: white;
      }
    }
  }
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: variables.$primaryColor;
  padding: 0 20px;
  cursor: pointer;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 64px;
    background-color: variables.$primaryBackgroundColor;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: auto;
        width: 100%;
        background-color: variables.$primaryBackgroundColor;

        li {
          display: block;
          width: 100%;
          text-align: center;
          animation: fadeSlideIn 0.3s ease forwards;

          a {
            display: block;
            width: 100%;
            padding: 15px 0px;
            background-color: variables.$primaryBackgroundColor;
            color: white;
            text-align: center;
            box-sizing: border-box;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: grey;
            }

            &:active {
              background-color: darkgrey;
            }
          }
        }
      }
    }
  }
}