$primaryFontFamily : Arial, Helvetica, sans-serif;
$primaryBackgroundColor : rgb(44, 44, 44);
$secondaryBackgroundColor : rgb(222, 222, 222);
$primaryColor : whitesmoke;
$secondaryColor : rgb(111, 111, 111);
$componentMargin : 100px 0;
