@use 'reset' as *;
@use 'variables';
@use 'mixins';
@use 'header';
@use 'footer';
@use 'card';
@use 'chuckNorris';
@use 'toDoList';

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: variables.$secondaryBackgroundColor;
 }