@use 'reset' as *;
@use 'variables';
@use 'mixins';
@use 'header';
@use 'footer';
@use 'card';
@use 'chuckNorris';
@use 'toDoList';
@use 'contact';
@use 'welcome';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: variables.$secondaryBackgroundColor;
 }

 h1 {
  padding: 20px 20px;
  text-decoration: none;
  color: white;
}