* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

h1 {
  padding: 20px 20px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
}
nav ul {
  font-size: 1.2em;
  display: flex;
  list-style: none;
  height: 100%;
}
nav ul li {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease;
}
nav ul li:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

footer {
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  max-width: 200px;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  box-shadow: 5px 5px 5px rgb(155, 155, 155);
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card .card-image {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
}
.card .card-text {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.card .card-hover-text {
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.chuck-norris-jokes {
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 30px;
}
.chuck-norris-jokes p {
  margin-top: 10px !important;
  margin-bottom: 20px;
}
.chuck-norris-jokes button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(111, 111, 111);
  color: white;
}
.chuck-norris-jokes button:hover {
  background-color: grey;
}

.to-do-container {
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  margin: 30px 0;
  padding: 30px;
}

.to-do-title, .to-do-tasks, .to-do-input {
  display: flex;
  justify-content: center;
}

.to-do-tasks {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(222, 222, 222);
}

main {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}/*# sourceMappingURL=styles.css.map */